#body-DB {
  font-family: 'Everett';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.body-DashBroad {
  display: flex;
}
.title {
  margin-top: 34px;
  margin-bottom: 66px;
  color: #2c2c2c;
}
h5 {
  font-weight: 500;
}
.user-panel {
  width: 315px;
  padding-left: 20px;
  color: #7e7d82;
}
.dashBoard {
  padding-left: 20px;
  min-width: 275px;
  min-height: 44px;
  display: flex;
  margin-bottom: 24px;
}
.dashBoard:hover {
  background-color: #efe9ff;
  color: #6425fe;
  /* background-image: ; */
  border-radius: 8px;
}
.fx-dashBoard {
  display: flex;
  align-items: center;
}
.fx-dashBoard img {
  margin-right: 14px;
}
.header-light {
  display: flex;
  margin-left: 55px;
  margin-right: 55px;
  padding-top: 92px;
  padding-bottom: 92px;
  position: relative;
}
.light-buld {
  /* background-color: rgba(199, 255, 165, 0.4); */
  left: 8%;
  position: relative;
  height: 13%;
  padding-left: -11px;
  justify-content: center;
  top: 87%;
  display: flex;
  z-index: 1;
  padding-top: 117px;
  padding-right: 3px;
}
.light-buld img {
  position: absolute;
  left: -85%;
  bottom: 37%;
}
.light-title {
  /* background-color: rgba(199, 255, 165, 0.4); */
  position: relative;
  text-align: center;
  border-radius: 16px;
  width: 200px;
}

.light-title p {
  position: relative;
  color: #2c2c2c;
}
.light-title .pTime {
  color: #838383;
}
.light-title img {
  position: absolute;
  left: -10px;
  bottom: -40px;
}
.logout {
  display: flex;
  margin-bottom: 40px;
}
.logout .btn-logout {
  margin-left: 13px;
  border: none;
  cursor: pointer;
  color: #84828a;
  background-color: white;
}
h4 {
  margin: 0;
}

.body-stock {
  width: 100%;
}
.hello-title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 33px;
  margin-bottom: 36px;
}
.hello-title label {
  border: none;
  background-color: #f7f6f9;
  border-radius: 8px;
  width: 344px;
}

.hello-title input {
  width: 100%;
  background-color: #f7f6f9;
  border-radius: 8px;
}
.hello-search {
  display: flex;
  align-items: center;
}
.img-search {
  width: 13px;
  margin-left: 15px;
  margin-right: 19px;
}
.notification-img {
  width: 24px;
  height: 24px;
  margin: 0 36px;
}
.img-user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 13px;
}
.bg-blue {
  padding: 12px;
  background-color: white;
  margin-left: 33px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  margin-right: 14px;
}
.nivida {
  width: 209px;
  height: 125px;
  background-color: #a6f7e2;
  border-radius: 8px;
  /* margin-right: 8px; */
}
.nivida-header {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
  margin-bottom: 16px;
}
.nivida-name {
  display: flex;
  align-items: center;
}
.nivia-name-img {
  width: 32px;
  height: 30px;
  margin-right: 6px;
}
.nivia-name-img img {
  width: 100%;
  height: 100%;
}
.nivida-money {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nivida-money h3 {
  margin: 0;
}
.nivida-money span {
  color: #77b900;
}
.nivida-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}
.nivida-footer-money {
  display: flex;
  flex-direction: column;
}
.nivida-footer-money h3 {
  margin: 0;
}
.nivida-footer-money span {
  color: #838383;
}
.footer-stock {
  background-color: #f7f6f9;
}
.footer-stock-title {
  padding-top: 1px;
  padding-left: 70px;
}

.meta {
  background-color: rgba(183, 155, 255, 1);
  color: #fff;
}
.meta-footer-money span {
  color: rgba(255, 255, 255, 0.8);
}
.meta-money span {
  color: rgba(255, 47, 47, 1);
}
.tesla {
  background-color: rgba(255, 229, 165, 1);
}
.apple {
  background-color: rgba(199, 255, 165, 1);
}
.amd {
  background-color: rgba(248, 165, 255, 1);
}
.btn-right {
  position: absolute;
  right: 0;
  margin-top: 45px;
  margin-right: 12px;
  border: 0;
  background-color: rgba(100, 37, 254, 1);
  border-radius: 8px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  padding-top: 6px;
}
.btn-right:hover {
  background-color: rgba(99, 37, 254, 0.899);
}
.balance-mt {
  display: flex;
  justify-content: space-between;
  margin-right: 14px;
}

.balance {
  width: 33.3%;;
  height: 100%;
  margin-left: 20px;
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
  padding-top: 20px;
}
.balance-header {
  margin-left: 12px;
  margin-right: 12px;
  height: 100%;
  border-radius: 8px;
}

.balance-header p {
  margin: 0;
}

.balance-header-btn {
  display: flex;
  margin-top: 6px;
}
.btn-dola {
  width: 80%;
  height: 56px;
  text-align: left;
  background-color: rgba(100, 37, 254, 1);
  color: white;
  border: 0;
  border-radius: 8px;
  font-family: Everett;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 8px;
  padding-left: 20px;
}

.btn-per {
  width: 20%;
  height: 56px;
  background-color: rgba(199, 255, 165, 1);
  border: 0;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.invested {
  margin-bottom: 20px;
}
.invested-title p {
  margin-top: 20px;
  margin-bottom: 6px;
}
.invested-btn {
  position: relative;
}
.invested-btn-number {
  width: 100%;
  height: 56px;
  background-color: #2c2c2c;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding-left: 18px;
}
.invested-btn .btn {
  position: absolute;
  right: 0;
  bottom: 9px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  background-color: #6425fe;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stock-tesla {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 0 12px;
}

.stock-tesla-img {
  display: flex;
  align-items: center;
}

.stock-tesla img {
  margin-right: 6px;
}

.stock-tesla-span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-tesla-span span:last-child {
  color: rgba(119, 185, 0, 1);
}

.flex-value-invested {
  display: flex;
  justify-content: space-around;
}

.flex-value {
  display: flex;
  flex-direction: column;
}
.flex-value span:first-child {
  color: #838383;
}
.down-btn {
  text-align: center;
  margin-top: 41px;
  padding-bottom: 16px;
}
.btn-flex {
  background-color: rgba(100, 37, 254, 1);
  border-radius: 8px;
  border: none;
  width: 44px;
  height: 44px;
  /* margin-top: 25px;
  margin-bottom: 16px; */
}

.btn-exchanges {
  display: flex;
}

.btn-exchanges-click {
  border: none;
  background-color: white;
  margin-left: 4px;
  color: rgba(131, 131, 131, 1);
  height: 26px;
}
.btn-exchanges-click:hover {
  background-color: rgba(100, 37, 254, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.btn-exchanges-year {
  display: flex;
  justify-content: space-between;
}

.btn-year {
  border: none;
  background-color: white;
  color: rgba(131, 131, 131, 1);
  height: 26px;
}

.btn-year:hover {
  color: rgba(100, 37, 254, 1);
  border-bottom: 1px solid rgba(100, 37, 254, 1);
}
.scribble {
  border: 1px solid rgba(131, 131, 131, 0.5);
}
.chart-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chart-number span {
  color: rgba(131, 131, 131, 1);
}
.chart-nasv {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
  margin-top: 20px;
}
.chart-time {
  margin-top: 12px;
  display: flex;
  margin-right: 12px;
  flex-direction: row-reverse;
}
.time {
  width: 35%;
  text-align: right;
  color: rgba(131, 131, 131, 1);
}
.high-open {
  display: flex;
  margin: 0 12px;
  margin-top: 23px;
  height: 74px;
}
.high-open .high:first-child {
  margin-right: 86px;
}
.high {
  display: flex;
  flex-direction: column;
}
.high span:first-child {
  color: rgba(131, 131, 131, 1);
  margin-bottom: 4px;
}
.snap-open {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 16px;
}
.snap-high {
  /* margin-right: 50px; */
  width: 60%;
}
.line-blue {
  border: 1px solid rgba(232, 233, 255, 1);
  margin: 20px 12px;
}
.line-pink {
  border: 3px solid rgba(248, 165, 255, 1);
  border-radius: 4px;
  margin: 8px 12px;
  position: relative;
}

.line-black {
  border: 3px solid rgba(44, 44, 44, 1);
  position: absolute;
  height: 20px;
  border-radius: 4px;
  right: 80px;
  bottom: -10px;
}

.line-black-number {
  right: 50px;
  bottom: -30px;
  position: absolute;
  /* margin-bottom: 20px; */
  font-size: 20px;
  font-weight: 500;
}

.high-open-snap {
  display: flex;
  margin: 0 12px;
  margin-top: 25px;
  justify-content: space-between;
}
.snap-after {
  margin-top: 70px;
}
.blue-after {
  margin-top: 40px;
  margin-bottom: 30px;
}
.snap-trade-time {
  display: flex;
  margin: 0 12px;
  /* justify-content: space-between; */
  height: 70px;
}
.trade-time {
  /* margin-right: 80px; */
  width: 60%;
}
.mb-4 {
  margin-bottom: 4px;
  color: #838383;
}
/* footer */
.footer-por-watch {
  display: flex;
  margin-left: 20px;
  margin-right: 14px;
  margin-top: 20px;
}
.portfoio {
  width: 68%;
  padding-top: 25px;
  padding-left: 15px;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.portfoio-header {
  display: flex;
  justify-content: space-between;
}

.por-time {
  width: 50%;
}
.chart-money {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.chart-violet {
  width: 90%;
  border-bottom: 1px solid #cecccc;
}
.chart-violet img {
  width: 100%;
}
.money-violet {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  justify-content: space-between;
}
.por-time-violet {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
}

.por-time span {
  color: #838383;
}
.watchlish {
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 20px;
  width: 33.3%;

}
.plus{
  border: none;
  background-color: #6425FE;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;

}
.watchlish-btn{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.amazon{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid #E8E9FF;
  padding-bottom: 16px;
}
.amazon-name{
  display: flex;
  flex-direction: column;
}
.amazon-name span:last-child{
  color: #838383;
}
.amzon-money{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.amzon-money span:last-child{
  color: #77B900;
}
.coca-money span:last-child{
  color: #E8464C;
}
.service-money span:last-child{
  color: #E8464C;
}
.db-flex{
  display: flex;
}
.db-flex img{
  margin-right: 4px;
}